html{
     padding:0 30em;
     background-image:url(https://i.goopics.net/pePaP.jpg);
     background-size: 60%;
    }
body {
    font-family:Georgia, Source Serif Pro, Times, serif;
    margin:1 auto;
    max-width: 50em;
    box-shadow: 10px 10px 16px 14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 10px 10px 16px 14px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 10px 10px 16px 14px rgba(0, 0, 0, 0.7);  
}
#col_rul{
    column-count:2;
    column-rule: solid 4px;
    text-align: center;
    margin-top: 80;
    margin-left: 20;
}
#col_rulsecond{
    column-count:2;
    column-rule: solid 4px;
    grid-column-gap: 10%;
    margin-left: 20;
}
#contact div{
    color:#656057;
    width:14em;
    float:left;
    padding:0 .5em 0 1.5em;
    }
#contact h3{
    color:#656057;
    border-bottom: none;
    margin-top: 0;
    }   
#profil h3{
    color:#656057;
    border-bottom: none;
    margin-top: 0;
    }   
#profil div{
    width:14em;
    float:right;
    padding:0 .5em 0 1.5em;
    text-align: justify;
    }
#avatar img{
    margin-left: 0;
    margin-top:0;
    width:100%;
    }
abbr, acronym{
    border-bottom:1px dotted #333;
    cursor:help;
    }   
info{
    font-style:italic;
    color:#333;
    font-size:.9em;
    }
h1{
    font-size:3.0em;
    color:#656057;
    margin-bottom:40;
    margin-top: 0;
    padding:.5em 0;
    text-align: center;
    }
h2 {
    clear:both;
    color:#656057;
    font-size: 1.4em;
    font-weight:bold;
    margin-top:2em;
    font-variant: small-caps;
    padding-left:.25em;
    border-bottom: 1px solid #999;
    letter-spacing: .06em;
    }
h3 {margin: 1em 0 0 0;}
h4 {
    clear:both;
    color:#656057;
    font-size: 1.4em;
    margin-top:2em;
    font-variant: small-caps;
    padding-left:.25em;
    letter-spacing: .06em;
    text-align: center;
    }
body {
    background-image:url(https://i.goopics.net/xoYoj.png);
    background-size: 850px;
    margin:0;
    width:100%
    }
